<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>Block {{.BlockHash}}</title>
  </head>
  <body>
    <div class="pageContainer">
      <h1>Block {{.BlockHash}}</h1>
      <hr />
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Slot</td>
            <td>{{.Slot}}</td>
          </tr>
          <tr>
            <td>Hash</td>
            <td>{{.BlockHash}}</td>
          </tr>
          <tr>
            <td>Proposer</td>
            <td><a href="/v/{{.ProposerHash}}">{{.ProposerHash}}</a></td>
          </tr>
          <tr>
            <td>State Root</td>
            <td>{{.StateRoot}}</td>
          </tr>
          <tr>
            <td>Randao Reveal</td>
            <td>{{.RandaoReveal}}</td>
          </tr>
          <tr>
            <td>Signature</td>
            <td>{{.Signature}}</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <h2>Attestations</h2>
      <table>
        <thead>
          <tr>
            <th>Slot</th>
            <th>Shard</th>
            <th>Justified Slot</th>
            <th>Justified Hash</th>
            <th>Shard Hash</th>
            <th>Participants</th>
          </tr>
        </thead>
        <tbody>
          {{range .Attestations}}
          <tr>
            <td>{{.Slot}}</td>
            <td>{{.Shard}}</td>
            <td>{{.JustifiedSlot}}</td>
            <td>{{.JustifiedBlockHash}}</td>
            <td>{{.ShardBlockHash}}</td>
            <td>
              {{range .ParticipantHashes}}
              <a href="/v/{{.}}">{{.}}</a><br />
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </body>
</html>
