<!DOCTYPE html>
<html>
  <head>
    <title>Block Explorer</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div class="pageContainer">
      <h1>Block Explorer</h1>
      <hr />
      <h2>Blocks</h2>
      <table>
        <thead>
          <tr>
            <th>Slot Number</th>
            <th>Block Hash</th>
            <th>Proposer</th>
          </tr>
        </thead>
        <tbody>
          {{range .Blocks}}
          <tr>
            <td>{{.Slot}}</td>
            <td><a href="/b/{{.BlockHash}}">{{.BlockHash}}</a></td>
            <td><a href="/v/{{.ProposerHash}}">{{.ProposerHash}}</a></td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <hr />
      <h2>Transactions</h2>
      <table>
        <thead>
          <tr>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Slot</th>
          </tr>
        </thead>
        <tbody>
          {{range .Transactions}}
          <tr>
            <td><a href="/v/{{.Recipient}}">{{.Recipient}}</a></td>
            <td>{{.Amount}}</td>
            <td>{{.Slot}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </body>
</html>
