<!DOCTYPE html>
<html>
  <head>
    <title>Block Explorer</title>
  </head>
  <body>
    <h1>Slot #{{.Slot}}</h1>
    <table>
      <tbody>
        <tr>
          <td>
            Slot Number
          </td>
          <td>
            {{.Slot}}
          </td>
        </tr>
        <tr>
          <td>
            Block Hash
          </td>
          <td>
            {{.BlockHash}}
          </td>
        </tr>
        <tr>
          <td>
            Proposer
          </td>
          <td>
            {{.Proposer}}
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Attestations</h3>
    <table>
      <thead>
        <tr>
          <th>Slot</th>
          <th>Shard</th>
          <th>Shard Block Hash</th>
          <th>Justified Slot</th>
        </tr>
      </thead>
      <tbody>
        {{range .Attestations}}
          <tr>
            <td>{{.Slot}}</td>
            <td>{{.Shard}}</td>
            <td>{{.ShardBlockHash}}</td>
            <td>{{.JustifiedSlot}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
