*.prof
*.test
dist

# binaries
synapse
synapsebeacon
synapsevalidator
synapsep2p
synapsekey
synapseexplorer
integration_tests
integration
*.exe
/.vscode

# testing
csmt/badger-test

.idea
validators.pubs
