<table id="blockTable" class="" style="width:100%">
    <thead>
        <tr>
            <th>Slot</th>
            <th>Proposer</th>
            <th>Randao</th>
            <th>Attestations</th>
            <th>Slashings</th>
            <th>Exits</th>
            <th>Deposits</th>
        </tr>
    </thead>
</table>

<script>
function initBlockTable()
{
	$('#blockTable').DataTable(createTableOptions({
		serverSide : true,
		ordering: false,
		ajax : {
			url: "{{ url '/api/blocks' }}",
		},
		columns : [
			{
				data : 'slot',
			},
			{
				data : 'proposer',
				render : function(data, type, row, meta) {
					if(type !== 'display') return data;
					var text = util.shortenStringWithEllipsis(data);
					return sprintf('<a href="/block?hash=%s">%s</a>', row.hash, text);
				}
			},
			{
				data : 'randao_reveal',
				render : function(data, type, row, meta) {
					if(type !== 'display') return data;
					return util.shortenStringWithEllipsis(data);
				}
			},
			{
				data : 'attestations',
			},
			{
				data : 'proposer_slashings',
			},
			{
				data : 'exits',
			},
			{
				data : 'deposits',
			},
		],
		columnDefs: [
			{ orderable: false, targets: [ 0, 1, 2, 3, 4, 5, 6 ] },
			{ className: "dt-right", targets: [ 0, 1, 2 ] },
			//{ className: "dt-left", targets: 1 },
			{ responsivePriority: 1, targets: 0 },
			{ responsivePriority: 2, targets: 1 },
		],
	}));
}

$(initBlockTable);

</script>
