<div class="container">

<table id="shardTable" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>ID</th>
            <th>Shard ID</th>
            <th>Hash</th>
            <th>Root Slot</th>
            <th>Genesis</th>
        </tr>
    </thead>
</table>

</div>

<script>
function initShardTable()
{
	$('#shardTable').DataTable({
		serverSide : false,
		ajax : {
				url: "{{ url '/api/shards' }}",
				dataSrc: '',
		},
		responsive: true,
		fixedHeader: {
			header: true,
		},
		lengthMenu: [ [ 25, 50, 100 ], [ 25, 50, 100 ] ],
		pageLength: 25,
		columns : [
			{
				data : 'id'
			},
			{
				data : 'shard_id',
			},
			{
				data : 'root_block_hash',
			},
			{
				data : 'root_slot',
			},
			{
				data : 'genesis_time',
			},
		],
		columnDefs: [
			{ orderable: false, targets: 0 },
			{ className: "dt-right", targets: [ 0, 1, 2 ] },
			//{ className: "dt-left", targets: 1 },
			{ responsivePriority: 1, targets: 0 },
			{ responsivePriority: 2, targets: 1 },
		],
		info: false
	});
}

$(initShardTable);

</script>
