.header-search {
    margin-bottom:0;
    border-radius:0.5rem;
    height:3rem;
}

.container {
    padding:8rem 0;
}

.top-bar-container {
    h1 {
        margin-bottom:0;
    }
}

.width-100 {
	width: 100%;
}

